* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;

}

.btn-primary,
.btn-a {
    color: #fff;
    background: #E55473;
    border: none;
    padding: 13px 11px;
    border-radius: 4px;
    font-weight: 700;
    text-decoration: none;
}

.banner-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    height: 799px;
    justify-content: space-around;
    align-items: center;
    margin-top: -40px;
    width: 100%;
    margin:  auto;
}

.banner-img {
    width: 500px;
    margin-bottom: -170px;
    padding-left: 30px;
}
.banner-text{
    padding-left: 60px;
}
.banner-tittle {
    font-size: 55px;
    margin-bottom: 25px;
    color: #272727;
}

.banner-description {
    font-size: 17px;
    margin-bottom: 25px;
    color: rgba(39, 39, 39, 0.60);
    line-height: 24px;
}


/* main-body-section */
.section-tittle{
    font-size: 35px;
    margin-bottom: 25px;
}
.text-before-box{
    text-align: center;
    margin: 100px ;
    margin-bottom: 80px;

}
.box-container{
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    margin: 0px auto;
    align-items:center;

}
.box {
    height: 320px;
    width: 300px;
    border-radius: 50% 50% 0px 0px;
    background: rgba(167, 33, 98, 0.15);  
    display: flex;
    align-items:last baseline;
    justify-content: center;
   
}
.box-img {
    width: 180px;
   
}
.link-contain{
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    margin: 0px auto;
    padding-top: 28px;
}
.link{
    color: #272727;
    font-weight: bold;
    font-size: 18px;
}